CLIENT_ID =         "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"                                      # Azure AD App Registration App/Client ID
AUTHORITY_URL =     "https://login.microsoftonline.com/cccccccc-cccc-cccc-cccc-cccccccccccc"    # https://login.microsoftonline.com/ + Tenant ID
M365_DRIVE_ID =     "##################Ml0MFG46i5yVcjFFrjNUDOU7RZgloc7UUnFE############"        # Have managed to find this via Graph Explorer or running the download/upload script with the -D flag
M365_FOLDER_PATH =  "Network Operations/On-Call & Scheduled Work"                               # ONLY the SharePoint folder path starting after "Documents", DO NOT INCLUDE AN ENDING FORWARD SLASH OR THE FILENAME
M365_FILENAME =     "NetOps Work Tracker.xlsx"                                                  # Name of the local file after downloading it/name of file to upload
MFA_SECRET =        "2w2h5q6ztwbb75rx"                                                          # The secret key that gets generated when setting up MFA
M365_USERNAME =     "user@example.com"
M365_PASSWORD =     "hunter2"